<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Chat Room</title>
</head>
<body>
<h1>Create New Chat Room</h1>
<form action="/chat/room" method="post">
    <label for="customerId">Customer ID:</label>
    <input type="text" id="customerId" name="customerId" value="test" required><br>
    <label for="sellerId">Seller ID:</label>
    <input type="text" id="sellerId" name="sellerId" value="sellerTest" required><br>
    <button type="submit">Create Chat Room</button>
</form>
<a href="/chat/rooms">Back to Chat Rooms</a>
</body>
</html>