<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container{
    border: 1px solid black;
    margin: auto;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
</style>
<body>


  <form href="/product/register" method="post" enctype="multipart/form-data">
<div class="container">

  <h1>상품등록 페이지</h1>

  <div>
    <!-- 로그인하면 로그인에 user명 붙여주면 될듯 -->
    판매자명 : <input type="text" value="dbscksdnd" name="sellerId"  readonly>

  </div>
  <div>
    상품명 : <input type="text" name="name">
  </div>

  <div>
    상품 카테고리 : <select name="productCategoryId">
    <option value="1">육류</option>
    <option value="2">채소</option>
    <option value="3">과자</option>
    <option value="4">기타</option>
  </select>
  </div>

  <div>
    상품 대표 이미지 (1개) : <input type="file" name="file">
  </div>

  <div>
    상품 설명 : <input type="text" name="description">
  </div>

  <div>
    상품개수 : <input type="number" name="totalQty">
    <!-- 품절일 경우 알림기능 추가, 상품 수정페이지에 상품 개수 추가 설정 -->
  </div>

  <div>
    상품 가격 : <input type="number" name="price">
  </div>


  <div>
    (상품이미지 표시 순서를 위해 이미지 마지막에 순서를 붙여주세요. => 1부터 시작 ex)image1.jpg, image2.jpg)
    <div>

    </div>
    상품정보이미지(여러개) : <input type="file" name="files" multiple="multiple">
  </div>

  <button type="submit">상품등록</button>

</div>
  </form>

<!--
메인이미지 안넣을 경우 버튼 비활성화
상세이미지 뒤에 번호가 없거나 겹칠경우 버튼 비활성화
판매자 아이디를 이메일로 변경

-->



</body>
</html>