<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.AutoComMapper">

<select id="autocomplete" parameterType="map" resultType="map">
    SELECT
    name
    FROM PRODUCT
    WHERE name LIKE  concat('%', #{value}, '%')
</select>
</mapper>