<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.BasketMapper">

    <select id="productDuplicationVerify" resultType="com.project.www.domain.BasketVO">
        SELECT * FROM basket
        WHERE
        customer_id = #{customerId} and product_id = #{productId};
    </select>

    <insert id="register">
        INSERT INTO basket (customer_id, product_id, qty)
        VALUES (#{customerId}, #{productId}, #{qty})
    </insert>

    <update id="productDuplicationUpdate">
        UPDATE basket
        SET
        qty = qty + #{qty}
        WHERE
        customer_id = #{customerId}
    </update>

    <select id="getMyBasket" resultType="com.project.www.domain.BasketVO">
        SELECT * FROM basket
        WHERE
        customer_id = #{email}
    </select>

    <delete id="delete">
        DELETE FROM basket
        WHERE
        customer_id = #{customerId} and product_id = #{productId};
    </delete>

    <update id="update">
        UPDATE basket set
        qty = #{qty}
        WHERE
        customer_id = #{customerId} and product_id = #{productId};
    </update>
</mapper>
