<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ChatRoomMapper">
    <insert id="insertChatRoom">
        INSERT INTO chat_room (customer_id, seller_id, created_at)
        VALUES (#{customerId}, #{sellerId}, NOW())
    </insert>

    <select id="getChatRoomsByCustomerId" resultType="com.project.www.domain.ChatRoomVO">
        SELECT * FROM chat_room WHERE customer_id = #{customerId}
    </select>

    <select id="getChatRoomsBySellerId" resultType="com.project.www.domain.ChatRoomVO">
        SELECT * FROM chat_room WHERE seller_id = #{sellerId}
    </select>

    <delete id="deleteChatRoomById">
        DELETE FROM chat_room WHERE id = #{id}
    </delete>
</mapper>
