<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.OrdersMapper">

    <insert id="register">
        INSERT INTO orders
        (merchant_uid, customer_id, product_id, qty, pay_price)
        VALUES
        (#{merchantUid}, #{customerId}, #{productId}, #{qty}, #{payPrice})
    </insert>

    <select id="getMyOrdersProduct" resultType="com.project.www.domain.OrdersVO">
        SELECT * FROM orders
        WHERE
        merchant_uid = #{merchantUid}
    </select>
    
    <update id="paySuccessUpdate">
        UPDATE orders
        SET
        status = 'success',
        orders_date = now()
        WHERE
        merchant_uid = #{merchantUid}
    </update>

</mapper>
