<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.OrdersMapper">

    <insert id="register">
        INSERT INTO orders
        (merchant_uid, customer_id, product_id, qty, pay_price)
        VALUES
        (#{merchantUid}, #{customerId}, #{productId}, #{qty}, #{payPrice})
    </insert>

    <select id="getMyOrdersProduct" resultType="com.project.www.domain.OrdersVO">
        SELECT * FROM orders
        WHERE
        merchant_uid = #{merchantUid}
    </select>
    
    <update id="paySuccessUpdate">
        UPDATE orders
        SET
        status = '주문완료',
        orders_date = now()
        WHERE
        merchant_uid = #{merchantUid}
    </update>

    <select id="getMyPurchasedProductList" resultType="com.project.www.domain.OrdersVO">
        SELECT * FROM orders
        WHERE
        customer_id = #{customerId}
        ORDER BY orders_date DESC
    </select>

    <update id="isReviewCommentUpdate">
        UPDATE orders
        SET
        is_review_comment = 1
        WHERE
        id = #{ordersId}
    </update>

    <select id="selectOne" resultType="com.project.www.domain.OrdersVO">
        SELECT * FROM orders
        WHERE
        id = #{id}
    </select>

    <update id="refundUpdate">
        UPDATE orders
        SET
        status = '환불처리'
        WHERE
        id = #{id}
    </update>
    
    <select id="getMyFrequentPurchasesList" resultType="com.project.www.domain.OrdersVO">
        SELECT customer_id, product_id, COUNT(*) as qty
        FROM orders
        WHERE customer_id = #{customerId}
        GROUP BY customer_id, product_id
        ORDER BY qty DESC
        LIMIT 5;
    </select>

    <select id="getMyWriteReviewList" resultType="com.project.www.domain.OrdersVO">
        SELECT * FROM orders
        WHERE
        customer_id = #{customerId} and status = '배송완료' and is_review_comment = 0
        ORDER BY orders_date DESC
    </select>

</mapper>
