<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ProductCategoryMapper">

    <select id="getList" resultType="com.project.www.domain.ProductCategoryVO">
        SELECT * FROM product_category
        ORDER BY id
    </select>

    <select id="getMyCategory" resultType="com.project.www.domain.ProductCategoryVO">
        SELECT * FROM product_category
        WHERE
        id = #{productCategoryId}
    </select>

</mapper>