<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ProductMapper">
    <insert id="insert">
        INSERT INTO product
        (product_name,
        product_price,
        product_category_code,
        product_description,
        product_total_quantity,
        product_sold_quantity,
        product_register_date,
        main_image_link,
        thumbnail_image_link,
        seller_code)
        VALUES(#{productName},
        #{productPrice},
        #{productCategoryCode},
        #{productDescription},
        #{productTotalQuantity},
        #{productSoldQuantity},
        NOW(),
        #{mainImageLink},
        #{thumbnailImageLink},
        #{sellerCode}
        )
    </insert>

    <select id="getProductCode" resultType="long">
        SELECT max(product_code) FROM product
    </select>
</mapper>