<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ProductCategoryDetailMapper">

    <select id="getList" resultType="com.project.www.domain.ProductCategoryDetailVO">
        SELECT * FROM product_category_detail
        ORDER BY id
    </select>

    <select id="getMyCategoryDetail" resultType="com.project.www.domain.ProductCategoryDetailVO">
        SELECT * FROM product_category_detail
        WHERE
        id = #{productCategoryDetailId}
    </select>

</mapper>