<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ReviewMapper">
    <insert id="register">
        INSERT INTO review (content,star,customer_id,product_id,orders_id)
        VALUES
        (#{content}, #{star}, #{customerId}, #{productId}, #{ordersId})
    </insert>

</mapper>