<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ReviewLikeMapper">

    <select id="getReviewLike" resultType="com.project.www.domain.ReviewLikeVO">
        select * from review_like
        where review_id = #{id}
    </select>

    <insert id="registerLike">
        insert into review_like
        values (#{reviewId},#{customerId})
    </insert>

</mapper>