<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ReviewMapper">
    <insert id="register" parameterType="com.project.www.domain.ReviewVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review (content,star,customer_id,product_id,orders_id)
        VALUES
        (#{content}, #{star}, #{customerId}, #{productId}, #{ordersId})
    </insert>

    <select id="getReview" resultType="com.project.www.domain.ReviewVO">
        select * from review
        where product_id = #{productID}
    </select>

    <select id="getNickName" resultType="com.project.www.domain.CustomerVO">
        SELECT nick_name FROM customer
        WHERE id = #{customerId}
    </select>

<!--    <select id="getReviewImg" resultType="com.project.www.domain.ReviewImageVO">-->
<!--        SELECT reviewImage FROM customer-->
<!--        WHERE review_id = #{reviewId}-->
<!--    </select>-->

</mapper>