<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.repository.ReviewImageMapper">
    <insert id="register" parameterType="list">
        INSERT INTO review_image
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.reviewId}, #{item.reviewImage}, #{item.reviewThumbImage})
        </foreach>
    </insert>

    <select id="getReviewImgList" resultType="com.project.www.domain.ReviewImageVO">
        select * from review_image
        where review_id = #{id}
    </select>

</mapper>