<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/dist/css/reset.css}">
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/main.css}">
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<th:block th:replace="~{header :: header}"></th:block>

<body>
<section>
    <!--광고배너(자동슬라이드&버튼)-->
    <div class="inner sectionBox">
        <div class="slide">
            <div class="slideImgInner">
                <div class="slideImg">
                    <img th:src="@{/dist/image/banner_ad1.jpg}">
                </div>
                <div class="slideImg">
                    <img th:src="@{/dist/image/banner_ad2.jpg}">
                </div>
                <div class="slideImg">
                    <img th:src="@{/dist/image/banner_ad3.jpg}">
                </div>
                <div class="slideImg">
                    <img th:src="@{/dist/image/banner_ad4.jpg}">
                </div>
                <div class="slideImg">
                    <img th:src="@{/dist/image/banner_ad5.jpg}">
                </div>
            </div>
        </div>
        <div class="sectionSlideBtn">
            <button class="leftBtn"><img th:src="@{/dist/icon/chevron_left.png}"></button>
            <button class="rightBtn"><img th:src="@{/dist/icon/chevron_right.png}"></button>
        </div>
    </div>
</section>

<main>
    <!-- 세일 상품 -->
    <div class="inner mainBox">
        <div class="mainComment">금주의 다양한 신상품!</div>
        <div>
            <p>NEW</p>
            <p>신상품</p>
        </div>
        <ul>
            <li><a href="#">
                <img src="">
                <div>
                <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
                </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
        </ul>
    </div>

    <!-- 베스트 상품 -->
    <div class="inner mainBox">
        <div class="mainComment">가장 많이 팔린 상품!</div>
        <div>
            <p>BEST</p>
            <p>베스트 상품</p>
        </div>
        <ul>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
        </ul>
    </div>

    <!-- 신상품 -->
    <div class="inner mainBox">
        <div class="mainComment">놓치면 후회할 가격!</div>
        <div>
            <p>SALE</p>
            <p>세일 상품</p>
        </div>
        <ul>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
            <li><a href="#">
                <img src="">
                <div>
                    <button type="button">장바구니에 담기</button>
                </div>
                <div class="product">
                    <span>상품명</span>
                </div>
                <div class="product">
                    <span>가격</span>
                </div>
                <div class="product">
                    <span>리뷰수</span>
                </div>
            </a>
            </li>
        </ul>
    </div>
</main>
<script th:src="@{/js/main.js}"></script>
</body>
<th:block th:replace="~{footer :: footer}"></th:block>