<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function sendNumber(){
        $("#mail_number").css("display","block");
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"mail" : $("#customerEmail").val()},
            success: function(data){
                alert("인증번호 발송");
                $("#Confirm").attr("value",data);
            }
        });
    }

    function confirmNumber(){
        let number1 = $("#number").val();
        let number2 = $("#Confirm").val();

        if(number1 === number2){
            alert("인증되었습니다.");
        }else{
            alert("번호가 다릅니다.");
        }
    }
</script>
<body>

<div class="container-sm">
    <h1>회원가입</h1>
    <form action="/customer/insert" method="post">
        <div id="mail_input" name="mail_input">
            <label for="customerEmail" class="form-label">이메일</label>
            <input type="email" name="mail" id="customerEmail" placeholder="이메일 입력">
            <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">이메일 인증</button>
        </div>
        <br>
        <div id="mail_number" name="mail_number" style="display: none">
            <label for="number" class="form-label">인증번호</label>
            <input type="text" name="number" id="number" placeholder="인증번호 입력">
            <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
            <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
        </div>
        <div class="mb-3">
            <label for="p" class="form-label">패스워드</label>
            <input type="password" class="form-control" name="customerPw" id="p" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div class="mb-3">
            <label for="pc" class="form-label">패스워드확인</label>
            <input type="password" class="form-control" name="password" id="pc" placeholder="비밀번호를 한번 더 입력해주세요.">
        </div>
        <div class="mb-3">
            <label for="n" class="form-label">닉네임</label>
            <input type="text" class="form-control" name="customerNickName" id="n" placeholder="닉네임을 입력해주세요.">
            <button>중복확인</button>
        </div>
        <div class="mb-3">
            <label for="a" class="form-label">주소</label>
            <input type="password" class="form-control" name="address" id="a">
        </div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </form>
    <script th:src="@{/js/customerInsert.js}"></script>
</div>
</body>
</html>