<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-sm">
    <h1>customer Register Page</h1>
    <form action="/customer/register" method="post">
        <div class="mb-3">
            <label for="e" class="form-label">E-MAIL</label>
            <input type="email" class="form-control" name="email" id="e" placeholder="example@test.com...">
        </div>
        <div class="mb-3">
            <label for="p" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="p" placeholder="Password...">
        </div>
        <div class="mb-3">
            <label for="n" class="form-label">nick_Name</label>
            <input type="text" class="form-control" name="nickName" id="n" placeholder="NickName...">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>