<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
    <link rel="stylesheet" th:href="@{/dist/css/reset.css}">
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<th:block th:replace="~{header :: header}"></th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body>
<div class="container-sm">
    <h1>회원가입</h1>
    <form action="/customer/insert" method="post">
        <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
        <div class="mb-3">
            <label for="p" class="form-label">패스워드</label>
            <input type="password" class="form-control" name="customerPw" id="p" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div class="mb-3">
            <label for="pc" class="form-label">패스워드확인</label>
            <input type="password" class="form-control" name="password" id="pc" placeholder="비밀번호를 한번 더 입력해주세요.">
        </div>
        <div class="mb-3">
            <label for="n" class="form-label">닉네임</label>
            <input type="text" class="form-control" name="customerNickName" id="n" placeholder="닉네임을 입력해주세요.">
            <button>중복확인</button>
        </div>
        <div class="mb-3">
            <input type="text" id="sample6_postcode" placeholder="우편번호">
            <input type="button" onclick="daumPost()" value="우편번호 찾기"><br>
            <input type="text" id="sample6_address" placeholder="주소"><br>
            <input type="text" id="sample6_detailAddress" placeholder="상세주소">
            <input type="text" name="address" id="address" style="display: none">
        </div>

        <hr>
        <div class="signupCheck">
            <ul class="join_box">
                <li class="checkBox check01">
                    <ul class="clearfix">
                        <li class="checkAllBtn">
                            <input type="checkbox" name="chkAll" id="chk" class="chkAll" onchange="chkAll(this.checked)">
                            모두 동의합니다.
                        </li>
                    </ul>
                </li>
                <li class="checkBox check02">
                    <ul class="clearfix">
                        <li class="checkBtn">
                            <input type="checkbox" name="chk">
                            이용약관 동의(필수)
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                약관 보기 >
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">이용약관 동의(필수)</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>제 1 장 총칙</h3>
                                            <h4>제 1 조 (목적)</h4>
                                            본 약관은 (주)미드나잇마켓(이하 “회사”라 합니다)이 운영하는 웹사이트 ‘미드나잇마켓’ (이하 “웹사이트”라 합니다)에서 제공하는 온라인 서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버몰과 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.
                                            <h4>제 2 조 (용어의 정의)</h4>
                                            본 약관에서 사용하는 용어는 다음과 같이 정의한다.
                                            “웹사이트”란 회사가 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 또는 용역을 거래 할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.
                                            “이용자”란 “웹사이트”에 접속하여 서비스를 이용하는 회원 및 비회원을 말합니다.
                                            “회원”이라 함은 “웹사이트”에 개인정보를 제공하여 회원등록을 한 자로서, “웹사이트”의 정보를 지속적으로 제공받으며, “웹사이트”이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
                                            “비회원”이라 함은 회원에 가입하지 않고, “웹사이트”이 제공하는 서비스를 이용하는 자를 말합니다.
                                            “ID”라 함은 이용자가 회원가입당시 등록한 사용자 “개인이용문자”를 말합니다.
                                            “멤버십”이라 함은 회원등록을 한 자로서, 별도의 온/오프라인 상에서 추가 서비스를 제공 받을 수 있는 회원을 말합니다.
                                            <h4>제 3 조 (약관의 공시 및 효력과 변경)</h4>
                                            본 약관은 회원가입 화면에 게시하여 공시하며 회사는 사정변경 및 영업상 중요한 사유가 있을 경우 약관을 변경할 수 있으며 변경된 약관은 공지사항을 통해 공시한다
                                            본 약관 및 차후 회사사정에 따라 변경된 약관은 이용자에게 공시함으로써 효력을 발생한다.
                                            <h4>제 4 조 (약관 외 준칙)</h4>
                                            본 약관에 명시되지 않은 사항이 전기통신기본법, 전기통신사업법, 정보통신촉진법, ‘전자상거래등에서의 소비자 보호에 관한 법률’, ‘약관의 규제에관한법률’, ‘전자거래기본법’, ‘전자서명법’, ‘정보통신망 이용촉진등에 관한 법률’, ‘소비자보호법’ 등 기타 관계 법령에 규정되어 있을 경우에는 그 규정을 따르도록 한다.
                                            <h3>제 2 장 이용계약</h3>
                                            <h4>제 5 조 (이용신청)</h4>
                                            이용신청자가 회원가입 안내에서 본 약관과 개인정보보호정책에 동의하고 등록절차(회사의 소정 양식의 가입 신청서 작성)를 거쳐 ‘확인’ 버튼을 누르면 이용신청을 할 수 있다.
                                            이용신청자는 반드시 실명과 실제 정보를 사용해야 하며 1개의 생년월일에 대하여 1건의 이용신청을 할 수 있다.
                                            실명이나 실제 정보를 입력하지 않은 이용자는 법적인 보호를 받을 수 없으며, 서비스 이용에 제한을 받을 수 있다.
                                            <h4>제 6 조 (이용신청의 승낙)</h4>
                                            회사는 제5조에 따른 이용신청자에 대하여 제2항 및 제3항의 경우를 예외로 하여 서비스 이용을 승낙한다.
                                            회사는 아래 사항에 해당하는 경우에 그 제한사유가 해소될 때까지 승낙을 유보할 수 있다.
                                            가. 서비스 관련 설비에 여유가 없는 경우
                                            나. 기술상 지장이 있는 경우
                                            다. 기타 회사 사정상 필요하다고 인정되는 경우
                                            회사는 아래 사항에 해당하는 경우에 승낙을 하지 않을 수 있다.
                                            가. 다른 사람의 명의를 사용하여 신청한 경우
                                            나. 이용자 정보를 허위로 기재하여 신청한 경우
                                            다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우
                                            라. 기타 회사가 정한 이용신청 요건이 미비한 경우
                                            <h3>제 3 장 계약 당사자의 의무</h3>
                                            <h4>제 7 조 (회사의 의무)</h4>
                                            회사는 사이트를 안정적이고 지속적으로 운영할 의무가 있다.
                                            회사는 이용자로부터 제기되는 의견이나 불만이 정당하다고 인정될 경우에는 즉시 처리해야 한다. 단, 즉시 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 공지사항 또는 전자우편을 통해 통보해야 한다.
                                            제1항의 경우 수사상의 목적으로 관계기관 및 정보통신윤리위원회의 요청이 있거나 영장 제시가 있는 경우, 기타 관계 법령에 의한 경우는 예외로 한다.
                                            <h4>제 8 조 (이용자의 의무)</h4>
                                            이용자는 본 약관 및 회사의 공지사항, 사이트 이용안내 등을 숙지하고 준수해야 하며 기타 회사의 업무에 방해되는 행위를 해서는 안된다.
                                            이용자는 회사의 사전 승인 없이 본 사이트를 이용해 어떠한 영리행위도 할 수 없다.
                                            이용자는 본 사이트를 통해 얻는 정보를 회사의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판, 방송 및 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없다.
                                            제 4 장 서비스의 제공 및 이용
                                            <h4>제 9 조 (서비스 이용)</h4>
                                            이용자는 본 약관의 규정된 사항을 준수해 사이트를 이용한다.
                                            본 약관에 명시되지 않은 서비스 이용에 관한 사항은 회사가 정해 ‘공지사항’에 게시하거나 또는 별도로 공지하는 내용에 따른다.
                                            <h4>제 10 조 (정보의 제공)</h4>
                                            회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보에 대하여 전자메일이나 서신우편 등의 방법으로 회원에게 정보를 제공할 수 있다.
                                            <h4>제 11 조 (광고게재)</h4>
                                            회사는 서비스의 운용과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고 등을 게재할 수 있다.
                                            회사는 사이트에 게재되어 있는 광고주의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 책임을 지지 않는다.
                                            <h4>제 12 조 (서비스 이용의 제한)</h4>
                                            본 사이트 이용 및 행위가 다음 각 항에 해당하는 경우 회사는 해당 이용자의 이용을 제한할 수 있다.
                                            공공질서 및 미풍양속, 기타 사회질서를 해하는 경우
                                            범죄행위를 목적으로 하거나 기타 범죄행위와 관련된다고 객관적으로 인정되는 경우
                                            타인의 명예를 손상시키거나 타인의 서비스 이용을 현저히 저해하는 경우
                                            타인의 의사에 반하는 내용이나 광고성 정보 등을 지속적으로 전송하는 경우
                                            해킹 및 컴퓨터 바이러스 유포 등으로 서비스의 건전한 운영을 저해하는 경우
                                            다른 이용자 또는 제3자의 지적재산권을 침해하거나 지적재산권자가 지적 재산권의 침해를 주장할 수 있다고 판단되는 경우
                                            타인의 아이디 및 비밀번호를 도용한 경우
                                            기타 관계 법령에 위배되는 경우 및 회사가 이용자로서 부적당하다고 판단한 경우
                                            <h4>제 13 조 (서비스 제공의 중지)</h4>
                                            회사는 다음 각 호에 해당하는 경우 서비스의 전부 또는 일부의 제공을 중지할 수 있다.
                                            전기통신사업법 상에 규정된 기간통신 사업자 또는 인터넷 망 사업자가 서비스를 중지했을 경우
                                            정전으로 서비스 제공이 불가능할 경우
                                            설비의 이전, 보수 또는 공사로 인해 부득이한 경우
                                            서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 어려운 경우
                                            전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우
                                            <h4>제 14 조 (게시물 관리)</h4>
                                            회사는 건전한 통신문화 정착과 효율적인 사이트 운영을 위하여 이용자가 게시하거나 제공하는 자료가 제12조에 해당한다고 판단되는 경우에 임의로 삭제, 자료이동, 등록거부를 할 수 있다.
                                            <h4>제 15 조 (서비스 이용 책임)</h4>
                                            이용자는 회사에서 권한 있는 사원이 서명한 명시적인 서면에 구체적으로 허용한 경우를 제외하고는 서비스를 이용하여 불법상품을 판매하는 영업활동을 할 수 없으며 특히 해킹, 돈벌기 광고, 음란 사이트를 통한 상업행위, 상용 S/W 불법제공 등을 할 수 없다. 이를 어기고 발생한 영업활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가 책임을 지지 않는다.
                                            제 5 장 재화의 주문 및 결제 관련
                                            <h4>제 16 조 (결제방법)</h4>
                                            ‘회원’은 ‘회사’에서 판매하는 재화에 대하여 ‘선불카드, 직불카드, 신용카드 등의 각종 카드 결제 수단’을 이용하여 결제할 수 있다. 이때 ‘회사’는 이용자의 지급방법에 대하여 재화외 어떠한 명목의 수수료를 추가 징수하지 않는다.
                                            ‘회사’는 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 한다. 주문확인에 대한 내용은 해당게시판에서 확인 할 수 있다.
                                            수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 ‘회사’는 배송전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리한다. 다만 이미 대금을 지불한 경우에는 제18조의 ‘반품규정’을 따른다.
                                            <h4>제 17 조 (배송정책)</h4>
                                            ‘회사’는 이용자와 재화의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 결재를 실시한 날부터 7일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취한다.
                                            ‘회사’는 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 제품을 구매하는 웹 페이지 하단에 명시한다. 만약 ‘회사’가 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상한다. 하지만 ‘회사’의 고의과실이 없음을 입증한 경우에는 그러하지 아니한다.
                                            <h4>제 18 조 (취소 및 반품 환불 규정)</h4>
                                            ‘회사’는 이용자가 구매 신청한 재화 등이 품절 등의 사유로 인도 또는 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고 사전에 재화 등의 대금을 받은 경우에는 대금을 받은 날부터 3영업일 이내에 환급하거나 환급에 필요한 조치를 한다.
                                            재화가 발송 되기전 이용자가 결제를 취소할 경우 ‘회사’는 해당 주문건을 취소 처리하고 카드결제 승인을 취소한다.
                                            재화가 발송 된 이후 결제 취소는 불가하다. 단, ‘회사’의 부주의 ‘배송’상의 문제로 인한 재화의 파손, 변질의 경우 ‘회사’는 이용자에게 구매 금액의 반품 및 환불 조취 및 교환 조취를 취한다.
                                            제 6 장 기타
                                            <h4>제 19 조 (면책 및 손해배상)</h4>
                                            천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 회사의 서비스 제공 책임이 면제된다.
                                            회사는 이용자간 또는 이용자와 제3자간의 상호거래 관계에서 발생되는 결과에 대하여 어떠한 책임도 부담하지 않는다.
                                            회사는 이용자가 게시판에 게재한 정보, 자료, 내용 등에 관하여 사실의 정확성, 신뢰도 등에 어떠한 책임도 부담하지 않으며 이용자는 본인의 책임 아래 본 사이트를 이용해야 한다.
                                            이용자가 게시 또는 전송한 자료 등에 관하여 손해가 발생하거나 자료의 취사선택, 기타 무료로 제공되는 서비스 이용과 관련해 어떠한 불이익이 발생하더라도 이에 대한 모든 책임은 이용자에게 있다.
                                            아이디와 비밀번호의 관리 및 이용자의 부주의로 인하여 발생되는 손해 또는 제3자에 의한 부정사용 등에 대한 책임은 이용자에게 있다.
                                            이용자가 본 약관의 규정을 위반함으로써 회사에 손해가 발생하는 경우 이 약관을 위반한 이용자는 회사에 발생한 모든 손해를 배상해야 하며 동 손해로부터 회사를 면책시켜야 한다.
                                            <h4>제 20 조 (개인신용정보 제공 및 활용에 대한 동의서)</h4>
                                            회사가 회원 가입과 관련해 취득한 개인 신용 정보는 신용정보의 이용 및 보호에 관한 법률 제23조의 규정에 따라 타인에게 제공 및 활용 시 이용자의 동의를 얻어야 한다. 이용자의 동의는 회사가 회원으로 가입한 이용자의 신용정보를 신용정보기관, 신용정보업자 및 기타 이용자 등에게 제공해 이용자의 신용을 판단하기 위한 자료로서 활용하거나 공공기관에서 정책자료로 활용하는데 동의하는 것으로 간주한다.
                                            <h4>제 21 조 (분쟁의 해결)</h4>
                                            회사와 이용자는 본 사이트 이용과 관련해 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 해야 한다.
                                            제1항의 규정에도 불구하고 동 분쟁으로 인하여 소송이 제기될 경우 동 소송은 회사의 본사 소재지를 관할하는 법원의 관할로 본다.
                                            <p>[부칙] 본 약관은 2024년 05월 20일부터 적용한다.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="checkBox check03">
                    <ul class="clearfix">
                        <li class="checkBtn">
                            <input type="checkbox" name="chk">
                            개인정보 수집 및 이용에 대한 안내(필수)
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                약관 보기 >
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel1">개인정보 수집 및 이용에 대한 안내(필수)</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>1. 미드나잇마켓 개인정보 처리방침</h3>
                                            “개인정보 처리방침”이란 이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미하며, 미드나잇마켓은 개인정보처리자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하여 개인정보 처리방침을 제공합니다.
                                            미드나잇마켓은 이용자의 동의를 기반으로 개인정보를 수집·이용 및 제공하고 있습니다. 이용자의 권리(개인정보 자기결정권)를 적극적으로 보장하기 위해 개인정보 처리방침을 알기 쉽게 제공할 수 있도록 다양한 노력을 기울이고 있으며, 이러한 노력의 일환으로 미드나잇마켓의 주요 개인정보 처리 관련 정보를 라벨링으로 제공합니다.
                                            제3자의 서비스 연결 및 제휴사 서비스 이용을 위해 개인정보가 제공될 수 있습니다. 미드나잇마켓은 법령에 규정된 경우를 제외하고는 이용자의 별도 동의없이 제3자에게 개인정보를 제공하지 않습니다. 제3자 제공 발생 시 이용자에게 제공받는 자, 제공목적 등을 고지하여 동의를 받은 후 제공합니다.
                                            미드나잇마켓 개인정보 처리방침은 미드나잇마켓톡을 포함하여 회사가 제공하는 미드나잇마켓 서비스(이하 ‘서비스'라 함)에 적용됩니다. 단, 특정 미드나잇마켓 서비스에서 개별적으로 개인정보 처리방침을 운영하는 경우 그에 따릅니다
                                            <h3>2. 개인정보 수집</h3>
                                            서비스 제공을 위한 필요 최소한의 개인정보를 수집합니다.
                                            회원 가입 시 또는 서비스 이용 과정에서 홈페이지 또는 개별 어플리케이션이나 프로그램 등을 통해 서비스 제공을 위해 필요 최소한의 개인정보를 수집하고 있습니다.
                                            서비스 제공을 위해 반드시 필요한 최소한의 정보를 필수항목으로, 그 외 특화된 서비스를 제공하기 위해 추가 수집하는 정보는 선택항목으로 동의를 받고 있으며, 선택항목에 동의하지 않은 경우에도 서비스 이용 제한은 없습니다.
                                            <p>[미드나잇마켓계정 가입 시]</p>
                                            <p>필수</p>
                                            이메일, 비밀번호, 이름(닉네임), 프로필사진, 친구목록, 미드나잇마켓톡 전화번호(미드나잇마켓톡 이용자의 경우에 한함), 연락처, 서비스 이용내역, 서비스 내 구매 및 결제 내역
                                            <p>선택</p>
                                            생년월일, 성별, 배송지정보(수령인명, 배송지주소, 전화번호)
                                            <p>[사업자/단체 미드나잇마켓계정 가입 시]</p>
                                            <p>필수</p>
                                            이메일, 비밀번호, 사업자/단체명, 프로필사진, 친구목록, 연락처, 서비스 이용내역, 서비스 내 구매 및 결제 내역, 담당자 본인 인증정보 (이름, 생년월일, 성별, 아이디, 암호화된 이용자 확인값(CI), 중복가입확인정보(DI), 내/외국인 여부), 담당자 연락처(이메일 주소, 휴대전화번호)
                                            <p>[본인인증 시]</p>
                                            이름, 성별, 생년월일, 휴대전화번호, 통신사업자, 내/외국인 여부, 암호화된 이용자 확인값(CI), 중복가입확인정보(DI)
                                            <p>[법정대리인 동의 시]</p>
                                            법정대리인 정보(이름, 성별, 생년월일, 휴대전화번호, 통신사업자, 내/외국인 여부, 암호화된 이용자 확인값(CI), 중복가입확인정보(DI))
                                            <p>[유료서비스 이용 시]</p>
                                            신용카드 결제 시: 카드번호(일부), 카드사명 등
                                            휴대전화번호 결제 시: 휴대전화번호, 결제승인번호 등
                                            계좌이체 시: 예금주명, 계좌번호, 계좌은행 등
                                            상품권 이용 시: 상품권 번호, 해당 사이트 아이디
                                            <p>[환불처리 시]</p>
                                            계좌은행, 계좌번호, 예금주명, 이메일
                                            <p>[현금영수증 발행 시]</p>
                                            휴대전화번호, 현금영수증 카드번호
                                            <p>[고객상담 시]</p>
                                            고객센터로 문의 및 상담 시 상담 처리를 위한 추가적인 정보를 수집할 수 있습니다.
                                            일부 서비스에서는 특화된 여러 기능을 제공하기 위해 이용자에게 동의를 받고 추가적인 개인정보를 수집할 수 있습니다.
                                            개인정보를 수집하는 방법은 아래와 같습니다.
                                            개인정보를 수집하는 경우에는 원칙적으로 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.
                                            회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우
                                            제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우
                                            고객센터를 통한 상담 과정에서 웹페이지, 메일, 팩스, 전화 등
                                            온·오프라인에서 진행되는 이벤트/행사 등 참여
                                            서비스 이용 과정에서 단말기정보, IP주소, 쿠키, 서비스 이용 내역* 등의 정보가 자동으로 생성되어 수집될 수 있습니다.
                                            *서비스 이용 내역이란 서비스 이용 과정에서 자동화된 방법으로 생성되거나 이용자가 입력한 정보가 송수신되면서 미드나잇마켓 서버에 자동으로 기록 및 수집될 수 있는 정보를 의미합니다. 이와 같은 정보는 다른 정보와의 결합 여부, 처리하는 방식 등에 따라 개인정보에 해당할 수 있고 개인정보에 해당하지 않을 수도 있습니다.
                                            서비스 이용 내역에는 이용자가 입력 및 공유한 콘텐츠, 이용자가 입력한 검색어, 방문 및 접속기록, 서비스 부정이용 기록, 위치정보 등이 포함될 수 있습니다. 예를 들면, 이용자간 주고받은 메시지의 텍스트, 이미지, 동영상, 음성 등은 회사의 서버를 경유하여 상대방에게 송신됩니다. 이 때 콘텐츠 수신자, 데이터 형식, 게시 일시 등 이용자와 상대방과의 사이에서 송수신하는 형태, 방식 정보도 서버에 기록됩니다. 미드나잇마켓은 이용자간 주고받은 메시지 등 전송하는 콘텐츠 내용은 원칙적으로 전송 이외의 목적으로는 사용하지 않습니다. 미드나잇마켓은 서비스 이용기록 등의 정보를 서비스 제공 목적으로 처리할 수 있으며 필요한 경우에는 이용자의 추가 동의 등을 받고 이용할 수 있습니다.
                                            <p>개인정보</p>
                                            미드나잇마켓계정 가입 시 서비스 제공을 위해 필요한 최소한의 개인정보를 수집하고 있습니다. 서비스 이용시 특화된 기능 이용을 위해 이용자의 동의를 받고 추가적인 개인정보를 수집할 수 있습니다.
                                            <p>고유식별정보 | 주민등록번호</p>
                                            미드나잇마켓 기부 서비스 이용 중 기부금영수증 발급 신청 시 법에 따라 고유식별번호인 주민등록번호를 수집할 수 있습니다.
                                            <p>자동화 수집</p>
                                            미드나잇마켓 서비스 이용 과정에서 단말기정보, IP주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가 자동으로 생성되어 수집될 수 있습니다.
                                            <h3>3. 개인정보 이용</h3>
                                            회원관리, 서비스 제공·개선, 신규 서비스 개발 등을 위해 이용합니다.
                                            회원 식별/가입의사 확인, 본인/연령 확인
                                            14세 미만 아동의 개인정보 수집 시 법정 대리인 동의여부 확인, 법정 대리인 권리행사 시 본인 확인
                                            이용자간 메시지 전송, 친구등록 및 친구추천 기능의 제공
                                            친구에게 활동내역을 알리거나 이용자 검색, 등록 등의 기능 제공
                                            문의사항 또는 불만처리, 공지사항 전달
                                            유료서비스 이용 시 콘텐츠 등의 전송이나 배송·요금 정산
                                            서비스의 원활한 운영에 지장을 주는 행위(계정 도용 및 부정 이용 행위 등 포함)에 대한 방지 및 제재
                                            인구통계학적 특성과 이용자의 관심, 기호, 성향의 추정을 통한 맞춤형 콘텐츠 추천 및 이벤트, 광고 등 마케팅에 활용
                                            음성명령 처리 및 음성인식 향상
                                            신규 서비스 개발 및 서비스 기능 개선, 개인화된 서비스 제공, 프라이버시 보호를 위한 서비스 환경 구축
                                            서비스 이용 기록, 접속 빈도 및 서비스 이용에 대한 통계
                                            개인정보의 추가적인 이용・제공을 하는 경우가 있습니다.
                                            수집 목적과 합리적으로 관련된 범위에서는 법령에 따라 이용자의 동의 없이 개인정보를 이용하거나 제3자에게 제공할 수 있습니다. 이때 ‘당초 수집 목적과 관련성이 있는지, 수집한 정황 또는 처리 관행에 비추어 볼 때 개인정보의 추가적인 이용 또는 제공에 대한 예측 가능성이 있는지, 이용자의 이익을 부당하게 침해하는지, 가명처리 또는 암호화 등 안전성 확보에 필요한 조치를 하였는지’를 종합적으로 고려합니다.
                                            미드나잇마켓은 수집한 개인정보를 특정 개인을 알아볼 수 없도록 가명처리하여 통계작성, 과학적 연구, 공익적 기록보존 등을 위하여 처리할 수 있습니다. 이 때 가명정보는 재식별되지 않도록 추가정보와 분리하여 별도 저장・관리하고 필요한 기술적・관리적 보호조치를 취합니다.
                                            <p>처리항목 및 처리목적</p>
                                            이용자의 동의를 받아 수집한 개인정보 항목은 회원 관리 등 서비스 제공을 위해 필요한 목적으로 처리합니다. 미드나잇마켓에서 처리하는 개인정보 항목 및 이용 목적은 개인정보 처리방침을 통해 상시 공개하고 있습니다.
                                            <p>추가적 이용</p>
                                            당초 수집 목적과 관련성, 수집한 정황 또는 처리 관행 등을 종합적으로 고려하여 수집 목적과 합리적으로 관련된 범위에서 추가적으로 개인정보를 이용 및 제공할 수 있습니다.
                                            <p>가명정보 처리</p>
                                            수집한 개인정보를 특정 개인을 알아볼 수 없도록 가명처리하여 통계작성, 과학적 연구, 공익적 기록보존 등을 위해 처리할 수 있습니다.
                                            <h3>4. 개인정보 제공</h3>
                                            미드나잇마켓은 이용자의 별도 동의가 있거나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.
                                            미드나잇마켓은 이용자의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 다만, 이용자가 미드나잇마켓계정 로그인 서비스를 이용하거나 외부 제휴사 등의 서비스를 이용하는 경우 필요한 범위 내에서 이용자의 동의를 얻은 후에 개인정보를 제3자에게 제공하고 있습니다.
                                            또한 해외 서비스 이용을 위해 이용자의 동의를 받아 국외로 개인정보가 제공될 수 있으며, 국외 이전 시 제공받는 자 및 이전국가 등에 대해 고지하여 별도 동의를 받고 있습니다.
                                            미드나잇마켓 개인정보 제3자 제공이 발생하는 경우
                                            미드나잇마켓은 재난, 감염병, 급박한 생명・신체 위험을 초래하는 사건사고, 급박한 재산 손실 등의 긴급상황이 발생하는 경우 정보주체의 동의 없이 관계기관에 개인정보를 제공할 수 있습니다.
                                            서비스 제공을 위해 아래와 같은 업무를 위탁합니다.
                                            서비스 제공을 위해 필요한 경우 개인정보 처리 업무 중 일부를 외부에 위탁할 수 있습니다. 위탁받은 업체가 위탁받은 업무 목적 외로 개인정보를 처리하는 것을 제한하고, 기술적・관리적 보호조치 적용 및 재위탁 제한 등 위탁받은 업체의 개인정보 보호 관련 법령 준수 여부를 관리·감독하고 있습니다. 이용자는 고객센터를 통해 개인정보의 국외 이전을 거부할 수 있습니다. 이용자가 개인정보의 국외 이전을 거부하는 경우, 개인정보 국외이전이 필수적으로 수반되는 서비스의 이용이 제한될 수 있습니다.
                                            <p>제3자 제공</p>
                                            외부 제휴사 등의 서비스 이용 시 이용자에게 제3자 제공 동의를 받은 후 개인정보를 제공하고 있습니다. 개인정보가 제공될 수 있는 제3자 업체 목록은 미드나잇마켓 개인정보 처리방침을 통해 확인하실 수 있습니다.
                                            <p>처리위탁</p>
                                            미드나잇마켓 서비스 제공이 있어 반드시 필요한 업무 중 일부를 외부 업체에서 수행할 수 있도록 개인정보를 위탁하고 있습니다. 위탁 시 위탁받은 업체가 개인정보보호 관련 법령을 준수할 수 있도록 정기적으로 관리᛫감독하고 있습니다.
                                            <p>국외이전</p>
                                            국외 제휴 업체의 서비스를 이용 시 사전 동의를 받아 이용자의 개인정보가 국외로 제공될 수 있습니다. 또한 해외 SMS 발송 업무 등을 목적으로 국외 업체에 특정 개인정보 처리를 위탁하고 있습니다.
                                            <h3>5. 개인정보 파기</h3>
                                            수집 및 이용목적이 달성된 경우 수집한 개인정보는 지체없이 파기하며, 절차 및 방법은 아래와 같습니다.
                                            수집 및 이용 목적의 달성 또는 회원 탈퇴 등 파기 사유가 발생한 경우 개인정보의 형태를 고려하여 파기방법을 정합니다. 전자적 파일 형태인 경우 복구 및 재생되지 않도록 안전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.
                                            내부 방침에 따라 일정 기간 보관 후 파기하는 정보는 아래와 같습니다.
                                            <p>1)아래 정보는 탈퇴일부터 최대 1년간 보관 후 파기합니다.</p>
                                            안내메일 발송 및 CS문의 대응을 위해 미드나잇마켓계정과 탈퇴안내 이메일 주소를 암호화하여 보관
                                            서비스 부정이용 기록
                                            <p>2)권리침해 신고 및 유해정보 신고 이력은 5년간 보관 후 파기합니다.</p>
                                            <p>3)미드나잇마켓같이가치: 프로젝트 모금함 최종 종료일부터 3년 경과 후 파기합니다.(단, 미선정의 경우, 미선일로부터 90일 경과 후 파기)</p>
                                            지원대상 선정 시 수집한 증빙서류
                                            <p>4)미드나잇마켓 인증서: 인증서 이용내역은 인증서 폐지 시점으로부터 10년 보관 후 파기합니다.</p>
                                            이름, 생년월일, 성별, 휴대전화번호, 암호화된 이용자 확인값(CI), 인증서 데이터
                                            <p>5)미드나잇마켓톡: 이용자 보호조치 완화 적용 시 수집한 개인정보는 1년간 보관 후 파기합니다.</p>
                                            암호화된 이용자 확인값(CI)
                                            <p>6)카드영수증: 카드영수증 서비스 탈퇴일부터 1년 보관 후 파기합니다.</p>
                                            암호화된 이용자 확인값(CI), 카드영수증 항목 및 상세내역
                                            또한, 미드나잇마켓은 운영정책에 따라 1년간 서비스를 이용하지 않은 이용자의 개인정보를 별도로 분리 보관 또는 삭제하고 있으며, 분리 보관된 개인정보는 4년간 보관 후 지체없이 파기합니다.
                                            <p>보유기간 및 파기</p>
                                            수집 및 이용 목적의 달성 또는 회원 탈퇴 등 파기사유가 발생한 개인정보는 안전하게 파기합니다. 수집된 개인정보는 사전에 안내된 보유기간 동안만 보관 후 파기하며, 관계법령에 따라 일정보관이 필요한 정보는 별도로 보관합니다.
                                            <h3>6. 개인위치정보의 처리</h3>
                                            미드나잇마켓은 위치정보의 보호 및 이용 등에 관한 법률(이하 ‘위치정보법’)에 따라 아래와 같이 개인위치정보를 처리합니다.
                                            미드나잇마켓 위치정보 이용약관 제4조에 따른 서비스의 제공을 위해 개인위치정보를 보유할 수 있습니다.
                                            위치기반서비스 이용 및 제공 목적 달성한 때에는 지체없이 개인위치정보를 파기합니다.
                                            이용자가 작성한 게시물 또는 콘텐츠와 함께 위치정보가 저장되는 서비스의 경우 해당 게시물 또는 콘텐츠의 보관기간 동안 개인위치정보가 보관됩니다.
                                            그 외 위치기반서비스 제공을 위해 필요한 경우 이용목적 달성을 위해 필요한 최소한의 기간 동안 개인위치정보를 보유할 수 있습니다.
                                            개인위치정보의 수집 및 이용목적이 달성되면 지체없이 파기합니다.
                                            수집 및 이용 목적의 달성 또는 회원 탈퇴 등 개인위치정보 처리목적이 달성된 경우, 개인위치정보를 복구 및 재생되지 않도록 안전하게 삭제합니다.
                                            다만, 다른 법령에 따라 보관해야 하는 등 정당한 사유가 있는 경우에는 그에 따릅니다.
                                            또한, 위치정보법 제16조2항에 따라 이용자의 위치정보의 이용ㆍ제공사실 확인자료를 위치정보시스템에 6개월간 보관합니다.
                                            이용자의 사전 동의 없이 개인위치정보를 제3자에게 제공하지 않습니다.
                                            미드나잇마켓은 이용자의 동의 없이 개인위치정보를 제3자에게 제공하지 않으며, 제3자에게 제공하는 경우에는 제공받는 자 및 제공목적을 사전에 이용자에게 고지하고 동의를 받습니다.
                                            이용자의 동의를 거쳐 개인위치정보를 제3자에게 제공하는 경우, 이용자에게 매회 이용자에게 제공받는 자, 제공일시 및 제공목적을 즉시 통지합니다.
                                            8세 이하의 아동 등의 보호를 위해 필요한 경우 보호의무자의 권리는 아래와 같습니다.
                                            위치정보법 제26조제1항에 따라 '8세 이하의 아동', '피성년후견인', '장애인복지법에 따른 장애인에 해당하는 이용자'의 생명 또는 신체 보호를 위하여 보호의무자가 개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.
                                            위 권리를 행사하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야 하며, 이 경우 보호의무자는 위치정보 이용약관에 따른 이용자의 권리를 모두 가집니다.
                                            그 외 개인위치정보 처리와 관련된 자세한 내용은 미드나잇마켓 위치정보 이용약관을 참고하시기 바랍니다.
                                            <p>개인위치정보</p>
                                            미드나잇마켓의 위치기반 서비스 제공을 위해 개인위치정보가 수집될 수 있습니다. 개인위치정보 수집 발생 시 미드나잇마켓 위치기반서비스 이용약관에 대한 동의를 받고 있으며, 수집 및 이용 목적이 달성되면 지체없이 파기합니다.
                                            <h3>7. 이용자 및 법정대리인의 권리와 행사 방법</h3>
                                            이용자는 자신의 개인정보 처리에 관하여 아래와 같은 권리를 가질 수 있습니다.
                                            개인정보 열람(조회)을 요구할 권리
                                            개인정보 정정을 요구할 권리
                                            개인정보 처리정지를 요구할 권리
                                            개인정보 삭제요구 및 동의철회/탈퇴를 요구할 권리
                                            이용자는 서비스 내 다음과 같은 기능을 통해 언제든지 개인정보 열람(조회) 등의 권리를 직접 행사하거나 또는 고객센터(문의하기)를 통해 요청할 수 있습니다.
                                            - 미드나잇마켓계정 정보 열람(조회) 및 수정
                                            - 미드나잇마켓계정과 연결된 서비스 관리
                                            - 미드나잇마켓 서비스 이용을 위한 개인정보 수집, 이용, 제3자 제공 현황 확인
                                            미드나잇마켓은 이용자의 요청을 받은 경우 이를 지체없이 처리하며, 이용자가 개인정보의 오류에 대한 정정을 요청한 경우 정정을 완료하기 전까지 해당 개인정보를 이용 또는 제공하지 않습니다.
                                            14세 미만 아동의 개인정보를 처리할 경우에는 법정대리인의 동의를 받아야 합니다. 법정대리인은 아동의 개인정보를 조회하거나 수정 및 삭제, 처리정지 및 동의 철회 등의 권리를 행사할 수 있습니다.
                                            법정대리인 동의를 받기 위하여 아동에게 법정대리인의 성명, 연락처와 같이 최소한의 정보를 요구할 수 있으며, 아래 방법으로 법정대리인의 동의를 확인합니다.
                                            법정대리인의 휴대전화 본인인증을 통해 본인여부를 확인하는 방법
                                            법정대리인에게 동의내용이 적힌 서면을 제공하여 서명날인 후 제출하게 하는 방법
                                            그 밖에 위와 준하는 방법으로 법정대리인에게 동의내용을 알리고 동의의 의사표시를 확인하는 방법
                                            <p>정보주체의 권리의무</p>
                                            미드나잇마켓 이용자는 언제든지 자신의 개인정보를 조회하거나 수정할 수 있으며, 동의한 개인정보 처리에 대해 동의 철회를 요구할 수 있습니다.
                                            <p>법정대리인</p>
                                            만 14세 미만 아동 이용자의 경우, 법정대리인의 아동의 개인정보에 대한 조회, 수정, 삭제, 처리정지 및 동의를 철회할 수 있는 권리를 보장합니다.
                                            또한, '온라인 맞춤형 광고 개인정보보호 가이드 라인'에 따른 이용자 권리보호를 위한 페이지도 제공하고 있습니다.
                                            <p>행태정보 수집</p>
                                            이용자에게 불필요한 광고의 노출을 줄이고, 유용한 광고를 제공하기 위해 이용자의 관심사 등을 기반으로 하는 행태정보 기반의 맞춤형 광고를 제공하고 있습니다.
                                            <h3>8. 개인정보 자동 수집 장치에 관한 사항 (설치ㆍ운영 및 거부)</h3>
                                            웹기반 서비스 제공을 위하여 쿠키를 설치ㆍ운영할 수 있습니다.
                                            빠르고 편리한 웹사이트 사용을 지원하고 맞춤형 서비스를 제공하기 위해 쿠키를 사용합니다.
                                            <p>사용목적</p>
                                            개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 쿠키를 사용합니다. 이용자가 웹사이트에 방문할 경우 웹 사이트 서버는 이용자의 디바이스에 저장되어 있는 쿠키를 읽어 이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하게 됩니다. 쿠키는 이용자가 웹 사이트를 방문할 때, 웹 사이트 사용을 설정한대로 접속하고 편리하게 사용할 수 있도록 돕습니다. 또한, 이용자의 웹사이트 방문 기록, 이용 형태를 통해서 최적화된 광고 등 맞춤형 정보를 제공하기 위해 활용됩니다.
                                            <p>쿠키 수집 거부</p>
                                            이용자는 쿠키 설치에 대한 선택권을 가지고 있으며, 웹브라우저 상단의 ‘설정 > 개인정보보호 > 쿠키 및 기타 사이트 데이터’ 경로에서 쿠키 설정을 통해 쿠키 허용 및 거부를 할 수 있습니다. 다만, 쿠키 설치를 거부할 경우 웹 사용이 불편해지며, 로그인이 필요한 일부 서비스 이용이 어려울 수 있습니다.
                                            <h3>9. 개인정보의 안전성 확보 조치에 관한 사항</h3>
                                            미드나잇마켓은 이용자의 개인정보 보호를 위해 아래의 노력을 합니다.
                                            이용자의 개인정보를 암호화하고 있습니다.
                                            이용자의 개인정보를 암호화된 통신구간을 이용하여 전송하고, 비밀번호 등 중요정보는 암호화하여 보관하고 있습니다.
                                            해킹이나 컴퓨터 바이러스로부터 보호하기 위하여 노력하고 있습니다.
                                            해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 외부로부터 접근이 통제된 구역에 시스템을 설치하고 있습니다. 해커 등의 침입을 탐지하고 차단할 수 있는 시스템을 설치하여 24시간 감시하고 있으며, 백신 프로그램을 설치하여 시스템이 최신 악성코드나 바이러스에 감염되지 않도록 노력하고 있습니다. 또한 새로운 해킹/보안 기술에 대해 지속적으로 연구하여 서비스에 적용하고 있습니다.
                                            개인정보에 접근할 수 있는 사람을 최소화하고 있습니다.
                                            개인정보를 처리하는 임직원을 최소한으로 제한하고 있습니다. 또한 개인정보처리 시스템에 대한 비밀번호의 생성과 변경, 그리고 접근할 수 있는 권한에 대한 체계적인 기준을 마련하고 지속적인 감사를 실시하고 있습니다.
                                            개인정보취급자에게 이용자의 개인정보 보호에 대해 정기적인 교육을 실시하고 있습니다.
                                            개인정보를 처리하는 모든 개인정보취급자 대상으로 개인정보보호 의무와 보안에 대한 정기적인 교육과 캠페인을 실시하고 있습니다.
                                            이용자 정보의 보호 활동 및 체계에 대해 국내 및 국제 인증 규격을 충족하고 있습니다.
                                            정보보호 및 개인정보보호 관리 체계에 대해 국내 및 국제 인증 심사 규격 대비 충족 여부를 매년 독립된 심사 기관으로부터 검증을 받고 개선의 기회를 마련하고 있습니다.
                                            <p>안전성 확보조치</p>
                                            이용자의 개인정보를 안전하게 관리하기 위해 개인정보보호법에 따른 법적 요구사항을 모두 준수하고 있으며, 보호조치 수준에 대해서는 내부 점검 및 외부 검증을 통해 정기적으로 확인하고 있습니다.
                                            <p>개인정보보호인증</p>
                                            전문 국가기관으로부터 개인정보 및 정보보호 체계 수준을 검증 받았습니다.
                                            미드나잇마켓은 유럽연합 일반 개인정보보호법(General Data Protection Regulation) 및 EU 회원국의 법률(이하 ‘GDPR 등’)을 준수합니다.
                                            유럽연합 내 이용자를 대상으로 서비스를 제공하는 경우, 아래 내용이 적용될 수 있습니다.
                                            <p>[개인정보 처리의 목적 및 처리근거]</p>
                                            미드나잇마켓은 수집한 개인정보를 "3. 개인정보의 이용"에 기재된 목적으로만 이용하며, 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있습니다.
                                            그리고 GDPR 등에 따라 미드나잇마켓은 아래 하나에 해당하는 경우에 이용자의 개인정보를 처리할 수 있습니다.
                                            <p>정보주체의 동의</p>
                                            정보주체와의 계약의 체결 및 이행을 위한 경우
                                            <p>법적 의무사항 준수를 위한 경우</p>
                                            정보주체의 중대한 이익을 위해 처리가 필요한 경우
                                            <p>회사의 적법한 이익 추구를 위한 경우(정보주체의 이익과 권리 또는 자유가 그 이익보다 중요한 경우는 제외)</p>
                                            <p>[유럽연합 내 이용자의 권리 보장]</p>
                                            GDPR 등에 따라 이용자는 자신의 개인정보를 다른 관리자에게 이전해 달라고 요청할 수 있고, 자신의 정보 처리 거부를 요청 할 수 있습니다. 그리고 이용자는 개인정보보호 권한 당국에 불만을 제기할 권리가 있습니다.
                                            또한, 미드나잇마켓은 이벤트 및 광고 등 마케팅을 제공하기 위해 개인정보를 활용할 수 있으며, 사전에 이용자의 동의를 구하고 있습니다. 이용자는 원하지 않은 경우 언제든지 동의를 철회할 수 있습니다.
                                            위와 관련한 요청사항은 고객센터를 통해 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
                                            개인정보의 오류에 대한 정정을 요청하신 경우 정정을 완료하기 전까지 해당 개인정보를 이용 또는 제공하지 않습니다.
                                            <h3>10. 개인정보 보호책임자 및 고충처리 부서</h3>
                                            미드나잇마켓은 이용자의 개인정보 관련 문의사항 및 불만 처리 등을 위하여 개인정보 보호책임자 및 고충처리 부서를 지정하고 있습니다.
                                            개인정보 보호책임자 및 고충처리 부서
                                            <p>책임자: 김이젠 (개인정보 보호책임자/DPO/위치정보관리책임자)</p>
                                            <p>소속: 개인정보보호부서</p>
                                            <p>문의</p>
                                            <p>- 미드나잇마켓 고객센터 (바로가기) : 1577-1234 (유료)</p>
                                            개인정보보호 관련 문의, 불만 등 의견이 있는 경우 위 연락처로 접수해 주시면, 신속하게 검토하여 답변 드리겠습니다.
                                            또한 개인정보 관련 신고나 상담이 필요한 경우에는 아래 기관을 통하여 도움 받을 수 있습니다.
                                            <p>개인정보침해 신고센터</p>
                                            <p>(국번없이)118</p>
                                            <p>https://privacy.kisa.or.kr</p>
                                            <p>대검찰청 사이버수사과</p>
                                            <p>(국번없이)1301</p>
                                            <p>cid@spo.go.kr</p>
                                            <p>경찰청 사이버수사국</p>
                                            <p>(국번없이)182</p>
                                            <p>https://ecrm.cyber.go.kr</p>
                                            <p>개인정보보호책임자 & 고충처리 부서</p>
                                            미드나잇마켓 서비스 이용 시 발생하는 모든 개인정보보호 관련 문의 및 불만사항은 개인정보보호책임자 및 고충처리 부서(미드나잇마켓 고객센터)로 문의해주시면 됩니다.
                                            <p>권익침해 구제</p>
                                            개인정보가 침해되어서 이에 대한 신고나 상담이 필요하신 경우 국가기관에 문의하여 도움을 받으실 수 있습니다.
                                            <h3>11. 개정 전 고지의무 등 안내</h3>
                                            법령이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보 처리방침을 수정할 수 있습니다. 개인정보 처리방침이 변경되는 경우 최소 7일 전 변경 사항을 사전에 안내 하겠습니다.
                                            다만, 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 미리 알려드리겠습니다.
                                            미드나잇마켓은 이용자 여러분의 정보를 소중히 생각하며, 이용자가 더욱 안심하고 서비스를 이용할 수 있도록 최선의 노력을 다할것을 약속드립니다.
                                            <p>공고일자: 2024년 05월 13일</p>
                                            <p>시행일자: 2024년 05월 20일</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="checkBox check04">
                    <ul class="clearfix">
                        <li class="checkBtn">
                            <input type="checkbox" name="chk1">
                            위치정보 이용약관 동의(선택)
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                약관 보기 >
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel2">위치정보 이용약관 동의(선택)</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>제 1 조 (목적)</h3>
                                            본 약관은 주식회사 미드나잇마켓(이하 "회사")가 제공하는 사물위치정보 및 위치기반 서비스(이하, 위치정보 서비스)에 대해 회사와 서비스를 이용하는 이용자간의 권리·의무 및 책임사항, 기타 필요한 사항 규정을 목적으로 합니다.
                                            <h3>제 2 조 (이용약관의 효력 및 변경)</h3>
                                            ①본 약관은 이용자가 본 약관에 동의하고 회사가 정한 절차에 따라 위치정보 서비스의 이용자로 등록됨으로써 효력이 발생합니다.
                                            ②이용자가 본 약관의 “동의하기” 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 봅니다.
                                            ③회사는 위치정보 서비스의 변경사항을 반영하기 위한 목적 등으로 필요한 경우 관련 법령을 위배하지 않는 범위에서 본 약관을 수정할 수 있습니다.
                                            ④약관이 변경되는 경우 회사는 변경사항을 그 적용일자 최소 15일 전에 회사의 홈페이지 또는 서비스 공지사항 등(이하, 홈페이지 등)을 통해 공지합니다. 다만, 개정되는 내용이 이용자 권리의 중대한 변경을 발생시키는 경우 적용일 최소 30일 전에 이메일(이메일주소가 없는 경우 서비스 내 전자쪽지 발송, 서비스 내 알림 메시지를 띄우는 등의 별도의 전자적 수단) 발송 또는 등록한 휴대폰번호로 미드나잇마켓톡 메시지 또는 문자메시지를 발송하는 방법 등으로 개별적으로 고지합니다.
                                            ⑤회사가 전항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 이용자의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다. 이용자가 개정약관에 동의하지 않을 경우 본 약관에 대한 동의를 철회할 수 있습니다.
                                            <h3>제 3 조 (약관 외 준칙)</h3>
                                            이 약관에 명시되지 않은 사항에 대해서는 위치 정보의 보호 및 이용 등에 관한 법률, 개인정보보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계법령 및 회사가 정한 지침 등의 규정에 따릅니다.
                                            <h3>제 4 조 (서비스의 내용)</h3>
                                            회사는 위치정보사업자로부터 수집한 이용자의 위치정보 또는 직접 수집한 사물위치정보를 이용하여 아래와 같은 위치정보 서비스를 제공합니다.
                                            ①위치정보를 활용한 정보 검색결과 및 콘텐츠를 제공하거나 추천
                                            ②생활편의를 위한 위치 공유, 위치/지역에 따른 알림, 경로 안내
                                            ③위치기반의 컨텐츠 분류를 위한 콘텐츠 태깅
                                            ④위치기반의 맞춤형 광고
                                            <h3>제 5 조 (서비스 이용요금)</h3>
                                            회사가 제공하는 위치정보 서비스는 무료입니다.
                                            단, 무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며, 이용자가 가입한 각 이동통신사의 정책에 따릅니다.
                                            <h3>제 6 조 (서비스의 변경・제한・중지)</h3>
                                            ①회사는 정책변경 또는 관련법령 변경 등과 같은 제반 사정을 이유로 위치기반서비스를 유지할 수 없는 경우 위치기반서비스의 전부 또는 일부를 변경·제한·중지할 수 있습니다.
                                            ②회사는 아래 각호의 경우에는 이용자의 서비스 이용을 제한하거나 중지시킬 수 있습니다.
                                            1.이용자가 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우
                                            2.서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우
                                            3.전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
                                            4.국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때
                                            5.기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우
                                            ③회사가 제1항 및 제2항의 규정에 의하여 서비스 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회사 홈페이지 등을 통해 사전 공지하거나 이용자에게 통지합니다.
                                            <h3>제 7 조 (개인위치정보의 이용 또는 제공)</h3>
                                            ①회사는 개인위치정보를 이용하여 위치기반서비스를 제공하는 경우 본 약관에 고지하고 동의를 받습니다.
                                            ②회사는 이용자의 동의 없이 개인위치정보를 제3자에게 제공하지 않으며, 제3자에게 제공하는 경우에는 제공받는 자 및 제공목적을 사전에 이용자에게 고지하고 동의를 받습니다.
                                            ③제2항에 따라 개인위치정보를 이용자가 지정하는 제3자에게 제공하는 경우 개인위치정보를 수집한 통신단말장치 또는 전자우편주소로 매회 이용자에게 제공받는 자, 제공일시 및 제공목적을 즉시 통지합니다. 단, 아래의 경우 이용자가 미리 특정하여 지정한 통신단말장치 또는 전자우편주소, 온라인게시 등으로 통지합니다.
                                            1.개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우
                                            2.이용자의 개인위치정보를 수집한 통신단말장치 외의 통신단말장치 또는 전자우편주소, 온라인게시 등으로 통보할 것을 미리 요청한 경우
                                            ④회사는 위치정보의 보호 및 이용 등에 관한 법률 제16조 제2항에 근거하여 위치정보 수집·이용·제공사실 확인자료를 자동으로 기록·보존하며, 해당 자료는 6개월간 보관합니다.
                                            위치정보 제공 현황 자세히 보기
                                            <h3>제 8 조 (개인위치정보의 보유 목적 및 보유기간)</h3>
                                            회사는 위치기반서비스 제공을 위해 아래와 같이 개인위치정보를 보유합니다.
                                            ①본 약관 제4조 따른 위치기반서비스 이용 및 제공 목적 달성한 때에는 지체없이 개인위치정보를 파기합니다.
                                            ②다만, 이용자가 작성한 게시물 또는 콘텐츠와 함께 위치정보가 저장되는 서비스의 경우 해당 게시물 또는 콘텐츠의 보관기간 동안 개인위치정보가 보관됩니다.
                                            ③그 외 위치기반서비스 제공을 위해 필요한 경우 이용목적 달성을 위해 필요한 최소한의 기간 동안 개인위치정보를 보유할 수 있습니다.
                                            ④위 1, 2, 3항에도 불구하고 다른 법령 또는 위치정보법에 따라 보유해야하는 정당한 사유가 있는 경우에는 그에 따릅니다.
                                            <h3>제 9 조 (개인위치정보주체의 권리)</h3>
                                            ①이용자는 언제든지 개인위치정보를 이용한 위치기반서비스의 이용 및 제공에 대한 동의 전부 또는 일부를 유보할 수 있습니다.
                                            ②이용자는 언제든지 개인위치정보를 이용한 위치기반서비스의 이용 및 제공에 대한 동의 전부 또는 일부를 철회할 수 있습니다. 이 경우 회사는 지체 없이 철회된 범위의 개인위치정보 및 위치정보 이용·제공사실 확인자료를 파기합니다.
                                            ③이용자는 개인위치정보의 이용·제공의 일시적인 중지를 요구할 수 있습니다. 이 경우 회사는 이를 거절할 수 없으며 이를 충족하는 기술적 수단을 마련합니다
                                            ④이용자는 회사에 대하여 아래 자료에 대한 열람 또는 고지를 요구할 수 있으며, 해당 자료에 오류가 있는 경우에는 정정을 요구할 수 있습니다. 이 경우 회사는 정당한 사유 없이 요구를 거절하지 않습니다.
                                            1.이용자에 대한 위치정보 이용·제공사실 확인자료
                                            2.이용자의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법령의 규정에 의하여 제3자에게 제공된 이유 및 내용
                                            ⑤이용자는 권리행사를 위해 본 약관 제14조의 연락처를 이용하여 회사에 요청할 수 있습니다.
                                            <h3>제 10 조 (법정대리인의 권리)</h3>
                                            ①회사는 14세 미만의 이용자에 대해서는 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의를 이용자 및 이용자의 법정대리인으로부터 받아야 합니다. 이 경우 법정대리인은 본 약관 제8조에 의한 이용자의 권리를 모두 가집니다.
                                            ②회사는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용, 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공하고자 하는 경우 이용자와 이용자의 법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.
                                            1.위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인자료가 필요한 경우
                                            2.통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우
                                            <h3>제 11 조 (8세 이하의 아동 등의 보호의무자의 권리)</h3>
                                            ①회사는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동 등”)의 위치정보의 보호 및 이용 등에 관한 법률 제26조2항에 해당하는 자(이하 “보호의무자”)가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.
                                            1.8세 이하의 아동
                                            2.피성년후견인
                                            3.장애인복지법 제2조제2항제2호에 따른 정신적 장애를 가진 사람으로서 장애인고용촉진 및 직업재활법 제2조제2호에 따른 중증장애인에 해당하는 사람(장애인복지법 제32조에 따라 장애인 등록을 한 사람만 해당한다)
                                            ②8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야 합니다.
                                            ③보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 본 약관 제9조에 의한 이용자의 권리를 모두 가집니다.
                                            <h3>제 12 조 (손해배상)</h3>
                                            회사의 위치정보의 보호 및 이용 등에 관한 법률 제15조 및 26조의 규정을 위반한 행위로 인해 손해를 입은 경우 이용자는 회사에 손해배상을 청구할 수 있습니다. 회사는 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.
                                            <h3>제 13 조 (면책)</h3>
                                            ①회사는 다음 각 호의 경우로 위치기반서비스를 제공할 수 없는 경우 이로 인하여 이용자에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.
                                            1.천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우
                                            2.위치기반서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우
                                            3.이용자의 귀책사유로 위치기반서비스 이용에 장애가 있는 경우
                                            4.제1호 내지 제3호를 제외한 기타 회사의 고의·과실이 없는 사유로 인한 경우
                                            ②회사는 위치기반서비스 및 위치기반서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 이용자의 손해에 대하여는 책임을 부담하지 아니합니다.
                                            <h3>제 14 조 (분쟁의 조정 및 기타)</h3>
                                            ①회사는 위치정보와 관련된 분쟁의 해결을 위해 이용자와 성실히 협의합니다.
                                            ②전항의 협의에서 분쟁이 해결되지 않은 경우, 회사와 이용자는 위치정보의 보호 및 이용 등에 관한 법률 제28조의 규정에 의해 방송통신위원회에 재정을 신청하거나, 개인정보보호법 제43조의 규정에 의해 개인정보 분쟁조정위원회에 조정을 신청할 수 있습니다.
                                            <h3>제 15 조 (사업자 및 위치정보관리책임자 정보)</h3>
                                            ① 회사의 상호, 주소 및 연락처는 아래와 같습니다.
                                            <p>상호 : 주식회사 미드나잇마켓</p>
                                            <p>주소 : 서울특별시 강남구 용인시 이젠동 123 5층</p>
                                            <p>대표전화 : 1577-1234 (유료)</p>
                                            ② 회사는 개인위치정보를 적절히 관리·보호하고, 이용자의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영하고 있습니다. 위치정보관리책임자는 위치기반서비스를 제공하거나 관리하는 부서의 부서장으로서 성명과 연락처는 아래와 같습니다.
                                            <p>성명 : 김이젠</p>
                                            <p>대표전화 : 1577-1234 (유료)</p>
                                            <p>위치정보 전용문의 게시판 (바로가기)</p>
                                            <p>[시행일자]</p>
                                            <p>공고일자 : 2024년 05월 13일</p>
                                            <p>시행일자 : 2024년 05월 20일</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="checkBox check05">
                    <ul class="clearfix">
                        <li class="checkBtn">
                            <input type="checkbox" name="chk1">
                            이벤트 등 프로모션 알림 메일 수신(선택)
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                                약관 보기 >
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel3">이벤트 등 프로모션 알림 메일 수신(선택)</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>본 동의는 ㈜미드나잇마켓 서비스(이하 “서비스”라 한다)에서 수집한 아래와 같은 항목을 이용하여, 고객님에게 전자적 전송매체를 통해 마케팅 · 이벤트 등 프로모션 등의 목적으로 광고 또는 정보를 전송하는 것에 대한 광고성 정보 수신동의로서, 고객님은 개인정보 수집 및 이용에 대한 동의를 거부할 권리가 있으며, 본 동의를 거부할 경우 받는 별도의 불이익은 없습니다.</p>
                                            <p>[광고성 정보 전송에 대한 안내]</p>
                                            <p>[내용 및 목적]</p>
                                            <p>[이용항목]</p>
                                            <p>[이용기간]</p>
                                            <p>이메일 및 SMS를 통해, ㈜미드나잇마켓의 상품 또는 서비스에 대한 마케팅, 이벤트 등 프로모션 정보 전송	이메일 주소, 휴대전화번호(회원탈퇴/동의 철회시까지)</p>
                                            <p>[안내]</p>
                                            고객이 수집 및 이용에 동의한 개인정보를 활용하여, 전자적 전송매체를 통해, ㈜미드나잇마켓의 상품 또는 서비스에 대한 마케팅, 이벤트 등 프로모션 정보를 전송할 수 있습니다.
                                            법령에 따른 개인정보의 수집/이용 및 개인정보 처리와 관련된 일반 사항은 서비스의 개인정보처리방침에 따릅니다.
                                            고객이 본 수신동의를 철회하고자 할 경우 서비스 홈페이지를 통해 수신동의 철회 요청을 할 수 있습니다.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <button type="submit" class="btn btn-primary" id="joinBtn">가입하기</button>
    </form>
    <script th:src="@{/js/customerInsert.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>
</body>
<th:block th:replace="~{footer :: footer}"></th:block>