<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        border: 1px solid black;
        margin: auto;
        width: 500px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
</style>
<body>

<form action="/seller/register" method="post">
    <div class="container">
        <h1>판매자 회원가입</h1>
        <div>
            아이디 : <input type="text" name="sellerId">
        </div>
        <div>
            비밀번호 : <input type="text" name="sellerPw">
        </div>
        <div>
            쇼핑몰 이름 : <input type="text" name="sellerName">
        </div>
        <button>회원가입</button>
    </div>
</form>

</body>
</html>