<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{header :: header}"></th:block>
<style>
    .container{
        border: 1px solid black;
        margin: auto;
        width: 500px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
</style>

<form action="/seller/register" method="post">
    <div class="container">
        <h1>판매자 회원가입</h1>
            <label>
                아이디 : <input type="text" id="idF"> @
                <input type="text" id="idB">
                <select name="emailDomain" id="emailDomain" onchange="changeVal()">
                    <option name="emailDomain" value="gmail.com" >gmail.com</option>
                    <option name="emailDomain" value="naver.com">naver.com</option>
                    <option name="emailDomain" value="kakao.com">kakao.com</option>
                    <option name="emailDomain" value="daum.net">daum.net</option>
                    <option name="emailDomain" value="hanmail.net">hanmail.net</option>
                    <option name="emailDomain" value="hotmail.com">hotmail.com</option>
                    <option name="emailDomain" value="">직접입력</option>
                </select>
                <input type="hidden" name="id" id="id">
                <button type="button" id="idCheck">중복확인</button>
            </label>
            <label>
                비밀번호 : <input type="password" name="pw">
            </label>
            <label>
                비밀번호확인 : <input type="password" name="pwC">
            </label>
            <label>
                쇼핑몰 이름 : <input type="text" name="shopName" id="shopName">
                <button type="button" id="shopNameCheck">중복확인</button>
            </label>
            <label>
                연락처 : <input type="tel" id="tel" name="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required />
            </label>
        <button type="submit" id="check">회원가입</button>
    </div>
</form>
<script>
    document.getElementById('idB').value = "gmail.com";
    function changeVal(){
        let result ={};
        const emailDomain = document.getElementById('emailDomain');
        result.emailDomain = emailDomain.options[emailDomain.selectedIndex].value;
        if(result.emailDomain === "직접입력"){
            document.getElementById('idB').value = "";
        }
        document.getElementById('idB').value = result.emailDomain;
    }

    document.getElementById('idCheck').addEventListener('click',()=>{
        let id = document.getElementById('idF').value+"@"+document.getElementById('idB').value;
        checkId(id).then(result =>{
            if(result === "1"){
                alert("사용가능한 아이디입니다. ");
            }else{
                alert("중복아이디 입니다. 다시 입력해주세요. ")
                document.getElementById('id').value = '';
            }
        })
    })
    async function checkId(id){
        try {
            const url = '/seller/checkId/'+id;
            const config = {
                method: 'GET'
            };
            const resp = await fetch(url, config);
            const result = await resp.text();
            return result;
        } catch (error) {
            console.log(error);
        }
    }
    document.getElementById('shopNameCheck').addEventListener('click',()=>{
        let shopName = document.getElementById('shopName').value;
        shopNameCheck(shopName).then(result =>{
            if(result === "1"){
                alert("사용가능한 쇼핑몰 이름입니다. ")
            }else{
                alert("이미 사용중인 쇼핑몰 이름입니다. 다시 입력해주세요. ")
                document.getElementById('shopName').value = '';
            }
        })
    })
    async function shopNameCheck(shopName){
        try {
            const url = '/seller/checkShopName/'+shopName;
            const config = {
                method: 'GET'
            };
            const resp = await fetch(url, config);
            const result = await resp.text();
            return result;
        } catch (error) {
            console.log(error);
        }
    }
</script>

<th:block th:replace="~{footer :: footer}"></th:block>