<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{header :: header}"></th:block>
<style>
    .container{
        border: 1px solid black;
        margin: auto;
        width: 500px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
</style>

<form action="/seller/register" method="post">
    <div class="container">
        <h1>판매자 회원가입</h1>
        <div>
            아이디 : <input type="text" name="id">
        </div>
        <div>
            비밀번호 : <input type="text" name="pw">
        </div>
        <div>
            쇼핑몰 이름 : <input type="text" name="shopName">
        </div>
        <button>회원가입</button>
    </div>
</form>

<th:block th:replace="~{footer :: footer}"></th:block>